<app-main-nav>
    <div>
        <!-- <ng-template [ngIf]="loggedIn">
            <div class="logout" style="text-align:right">
                <mat-card-actions>
                    <a mat-flat-button color="primary" style="color: white" (click)="logout()">
                        Logout
                    </a>
                </mat-card-actions>
            </div>
        </ng-template> -->
        <p></p>
        <div class="alert-box">
            <app-alert></app-alert>
        </div>
        <p></p>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</app-main-nav>