<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" (click)="siteDetalhes()">
            <mat-icon>info</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="siteForm" (ngSubmit)="onFormSubmit(siteForm.value)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="url" formControlName="url" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!siteForm.get('url').valid && siteForm.get('url').touched">Por favor entre com o url</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="nome" type="number" formControlName="nome" min=1950 [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!siteForm.get('nome').valid && siteForm.get('nome').touched">Por favor entre com o nome</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="telefone" type="number" formControlName="telefone" min=0.01 [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!siteForm.get('telefone').valid && siteForm.get('telefone').touched">Por favor entre com o telefone</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!siteForm.valid" mat-flat-button color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>